<!DOCTYPE html>
<html>
  <head>
    <title>Cats Adoption</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <section class="section">
    <div class="container">
    <header>
      <h1 class="title">Adopt Me</h1>

      <p class = "navbar-item">
        <%= link_to 'Home', root_path%> |
        <%= link_to 'Cats', cats_path%> |
        <%= link_to 'Cat breeds', cat_breeds_path%> |
        <%= link_to 'Countries', countries_path%> |
        <%= link_to 'About Us', permalink_path('about_us')%> |
        <%= link_to 'Contact Us', permalink_path('contact_us')%>
      </p>
    </header>

    <%= yield %>

    </div>
  </section>
  </body>
</html>
